# the directory where the snapshot is stored.
dataDir={{ zookeeper_data_dir }}
# the port at which the clients will connect
clientPort={{ zookeeper_client_port }}
# disable the per-ip limit on the number of connections since this is a non-production config
maxClientCnxns={{ zookeeper_maxClientCnxns }}

#----------------------Zookeeper Cluster---------------

{% for host in zookeeper_ensemble %}
server.
  {%- if zookeeper_node_id_from == 'node'    -%}
  {{ hostvars[host]['zookeeper_node_id'] }}
  {%- elif zookeeper_node_id_from == 'key'   -%}
  {{ host.id }}
  {%- elif zookeeper_node_id_from == 'index' -%}
  {{ loop.index }}
  {%- endif %}
=
{%- if host.name is defined %}{{ host.name }}{% else %}{{ host}}{% endif %}
:{{ zookeeper_connect_port}}:{{zookeeper_election_port }}
{% endfor %}

tickTime={{ zookeeper_tickTime }}
initLimit={{ zookeeper_init_limit }}
syncLimit={{ zookeeper_sync_limit }}
#-----------------------------------------------------
