[Unit]
Description=zookeeper server
After=network.target

[Service]
Type=simple
User={{zookeeper_user}}
ExecStart={{zookeeper_bin_dir}}/zkServer.sh start-foreground
Restart=on-abort


[Install]
WantedBy=multi-user.target
